*{        
    font-family: "Open Sans", sans-serif;
}
html{
    width: 100%;

    background-color: #cee5f8;

}
body{

    width: 100%;

    overflow: hidden;    
    display: flex;
    justify-content: center;
    align-items: center;  
    
}

.container{
    
    width: 100%;
    padding: 30%;

    justify-content: center;
    align-items: center;       
}





.card h3{
    

    text-align: center;
    font-size: 25px;
    color: #001449;
}

.formcontent{
    margin-bottom: 20px;
}

.formcontent label{
    font-weight: bold;
    color: #001449;
    font-size: 18px;    
}

.forminput input {
    border: 2px solid #001449;
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
}
.input-radio{
    margin: 0px;
}

.forminput textarea {
    border: 2px solid #001449;
    margin-top: 5px;
    resize: none; 
    width: 100%;
    font-size: 16px;   
    text-decoration: none;
}
